body, html {
    margin: 0;
    padding: 0;
    background: url(./IMG_6073.jpeg);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    font-size: 16px;
    color: black;
}

@media(max-width: 991px){
    .sidebar{
        backdrop-filter: blur(10px);
    }
}

.img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
}

.btn-contact:hover {
    transform: scale(1.1);
    background-color: #005080;
}

/* Footer */
.container1 {
    background-color: #005080; /* bleu */
    width: 100%;
    padding: 5rem 0;
    margin: 0;
    margin-top: 8rem;
    position: relative; /* important pour z-index */
    z-index: 1; /* supérieur au background du body */
    color: white;
}

.container1 h3,
.container1 p {
    color: white;
}

.container1 img {
    vertical-align: middle;
}
