body, html {
            margin: 0;
            padding: 0;
        }
        .navbar-nav .nav-link {
            font-family: 'Poppins', sans-serif;
            font-weight: 700; 
            font-size: 16px;
            color: black;
        }
        @media(max-width: 991px){
            .sidebar{
                backdrop-filter: blur(10px);
            }
        }
        .img-thumbnail {
            border: none;
            padding: 0;
            border-radius: 0;
        }
        .btn-contact:hover {
            transform: scale(1.1);
            background-color: #005080;
        }
        .hero {
  height: 40rem;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(./IMG_6070.jpeg) center/cover no-repeat;
  margin-top: 5rem;
}

.hero1 {
          height: 33rem;
            background-image: url(./certifs_photos.png);
            background-position: center;  
            background-repeat: no-repeat;
            background-size: 75%;
            margin-top: 20rem;
        }
.container1{
            background-color: #005080;
           width: 100%;
            padding: 5rem 0;
            margin: 0;
            margin-top: 8rem;
        }
